<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>OnLimitedAution</title>
    <!-- 여기에 CSS 링크 추가 -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/indexcss.css}">
    <!-- 여기에 JavaScript 링크 추가 -->
    <script type="text/javascript" th:src="@{/js/script.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
    <script src="https://vjs.zencdn.net/8.3.0/video.min.js"></script>
</head>
<body>

<header>
    <h1>OnLimitedAution</h1>
</header>

<nav class="main-nav">
    <ul>
        <li><a href="#" class="nav-btn" onclick="enterAuction()">경매입장</a></li>
        <li><a href="#" class="nav-btn" onclick="openAuction()">경매열기</a></li>
        <li><a href="#" class="nav-btn" onclick="login()">로그인</a></li>
        <li><a href="#" class="nav-btn" onclick="register()">회원가입</a></li>
        <li><a href="#" class="nav-btn" onclick="addProduct()">판매상품 등록</a></li>
        <li><a href="#" class="nav-btn" onclick="myPage()">마이페이지</a></li>
        <li>컨텐츠 안에서 직접 출력 = [[${data}]]</li>
        <div id="auctionResponse"></div>

    </ul>
</nav>

<!-- 여기에 본문 내용 추가 -->

<h2>Upload Image</h2>
<form action="/images/upload" method="post" enctype="multipart/form-data">
    <input type="file" name="file">
    <button type="submit">Upload</button>
</form>
<h2>Uploaded Images</h2>
<div th:if="${images != null}">
    <ul>
        <li th:each="image : ${images}">
            <img th:src="${images}" style="max-width: 200px; max-height: 200px;"/>
        </li>
    </ul>
</div>

<!--
    controls : 사용자가 비디오 컨트롤이 가능하게 할 수 있다
    playsinline : 전체 화면 방지이다
    autoplay : 자동재생이며 , 정책상 음소거 상태에서 가능하다.
-->
<video id="video" controls playsinline autoplay></video>

<script>
    /* video Element */
    let video = null;
    /* 샘플 m3u8 url */
    let videoSrc = 'http://localhost:8080/hls/test-stream-key_src.m3u8'

    /* initVideo */
    const initVideo = () => {
        video = document.querySelector('#video')
    }

    /* initHls : hls를 초기화 하는 함수 */
    const initHls = () => {
        if (Hls.isSupported()) {
            hls = new Hls({
                autoStartLoad: false,
            });
            hls.loadSource(videoSrc);
            hls.attachMedia(video);
            hls.startLoad();
        }
        /* ios/safari 같은 경우에 hls가 built-in 되어있다.*/
        else {
            video.src = videoSrc;
        }
    }

    /* DOMContentLoaded 로드를 통해 video Element 담기*/
    window.addEventListener("DOMContentLoaded", () => {
        initVideo();
        initHls();
    })

</script>
<script>
    var player = videojs('my-video');
    player.play();
</script>

<footer class="main-footer">
    <img th:id="productImage" src="" alt="Product Image">
    <!-- 여기에 푸터 내용 추가 -->
</footer>

</body>
</html>